{% extends "base.html" %}

{% block extrahead %}
<script>
  (function (s, e, n, d, er) {
    s['Sender'] = er;
    s[er] = s[er] || function () {
      (s[er].q = s[er].q || []).push(arguments)
    }, s[er].l = 1 * new Date();
    s[er].on = function(event, callback) {
      s[er].listeners = s[er].listeners || {};
      (s[er].listeners[event] = s[er].listeners[event] || []).push(callback);
    };
    var a = e.createElement(n),
        m = e.getElementsByTagName(n)[0];
    a.async = 1;
    a.src = d;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
  sender('a0dc5c172d9800')
</script>
{% endblock %}

{% block content %}
  {{ super() }}
  {% if page.canonical_url and "AIToBoxWeeklyNews_" in page.canonical_url %}
  <div id="disqus-container" style="
    border-top: 2px solid #4299e1;
    padding-top: 32px;
    margin-top: 32px;
  ">
    <h2 style="
      font-size: 1.3em;
      color: #1a202c;
      margin-bottom: 20px;
    ">💬 评论区</h2>
    <div id="disqus_thread"></div>
  </div>
  <script>
    var disqus_config = function () {
      this.page.url = "{{ page.canonical_url }}";
      this.page.identifier = "{{ page.canonical_url }}";
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://atbweeklynews.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    请启用 JavaScript 以查看
    <a href="https://disqus.com/?ref_noscript">由 Disqus 提供的评论</a>。
  </noscript>
  {% endif %}
{% endblock %}
